@import url(./var.css);

.panel-3 .content {
  display: grid;
  gap: 2.5rem;
  width: 100%;
  max-width: 350px;
  position: relative;
  left: 1.4rem;
  justify-content: center;
}
.panel-3 .content > li {
  list-style: decimal-leading-zero;
  font-size: 24px;
  color: var(--colorNavBarLeft);
}
.panel-3 .content .first::before {
  content: "Choose Platform";
  position: relative;
  margin-left: 10px;
  color: var(--colorFont);
  font-weight: bold;
  font-size: 20px;
  top: 4px;
}
.panel-3 .content .second::before {
  content: "Searching Games";
  margin-left: 10px;
  position: relative;
  color: var(--colorFont);
  font-weight: bold;
  font-size: 20px;
  top: 4px;
}

.first > *,
.second > * {
  margin-top: 1rem;
  left: -2.5rem;
  position: relative;
}

.platforms {
  background-color: var(--backgroundColorPlatformsSpan);
  border-radius: 30px;
  padding: 5px;
  color: #b85116;
  text-align: center;
}

.platform {
  display: inline;
  position: relative;
  border-radius: 30px;
  font-size: 16px;
  width: 6.5rem;
  height: 3rem;
  margin-inline: 2px;
  border: none;
  cursor: pointer;
  color: var(--colorPlatformButton);
  background-color: var(--backgroundColorPlatformsSpan);
}
.platform:hover {
  background-color: var(--backgroundColorPlatformButtonHover);
}
.platform-selected {
  background-color: var(--backgroundColorPlatformButtonHover);
  color: var(--colorFont);
}

.filter-games {
  max-width: 330px;
  height: 25rem;
  background-color: var(--backgroundColorPlatformsSpan);
  border-radius: 15px;
  display: grid;
  place-items: center;
}
.filter-games * {
  font-size: 16px;
}

.top-filter {
  top: 1.5rem;
  display: flex;
  position: absolute;
  width: 100%;
  height: 30px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--backgroundArticlesContainer);
}
.top-filter > input[type="image"] {
  margin-inline-end: 1.5rem;
  aspect-ratio: 1;
  max-width: 25px;
}
.search-field {
  width: 100%;
  margin-inline-start: 1.5rem;
  margin-inline-end: 1rem;
  background-color: var(--backgroundColorPlatformsSpan);
  color: var(--colorFont);
  border: none;
  outline: none;
}

table.search-results {
  position: absolute;
  top: 6rem;
  left: 0.5rem;
  width: 95%;
  border-spacing: 10px 12px;
  display: grid;
  place-items: start;
  color: var(--colorFont);
  overflow-y: auto;
  overflow-x: hidden;
  height: 200px;
}

.search-results * {
  font-size: 14px;
}
.search-results tr {
  line-height: 0;
}
.search-results td {
  white-space: nowrap;
}
td.team-name {
  max-width: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar-group {
  display: inline-flex;
  flex-direction: row-reverse;
}
.member-name {
  position: absolute;
  padding: 0.5rem 0.25rem;
  border-radius: 0.25rem;
  background-color: rgb(0, 0, 0, 0.7);
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  transform: translate(1rem, -0.5rem);
}
.member-avatar {
  transition: 0.2s;
  display: block;
  border-radius: 50%;
  color: var(--colorFont);
  overflow: hidden;
  width: 30px;
  height: 30px;
  margin-left: -12px;
}
.member-avatar:hover {
  z-index: 1;
  transform: translateY(-0.5rem);
}
.avatar-card:hover .member-name {
  visibility: visible;
  opacity: 1;
}
.search-results .row-index span {
  background-color: var(--bgRowIndex);
  border-radius: 50%;
  padding: 10px;
  place-content: center;
}

.add-to-team {
  border: none;
  padding: 10px;
  background-color: var(--backgroundColorPlatformButtonHover);
  color: var(--colorFont);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s linear background;
}
.add-to-team:hover {
  background-color: var(--bgAddButtonHover);
}

.gradient {
  position: absolute;
  z-index: 1;
  bottom: 6.5rem;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(193, 189, 189, 0),
    var(--backgroundColorPlatformsSpan) 80%
  );
  width: 100%;
  height: 4.5rem;
}
.search-button {
  bottom: 1rem;
  width: 90%;
  height: 4rem;
  position: absolute;
  background-color: var(--bgColorSearchButton);
  color: var(--colorTextSearchButton);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 20px 70px -15px rgb(60, 60, 60);
}
.search-button:hover {
  background-color: var(--bgColorSearchButtonHover);
  transition: 0.15s linear background;
}
