@import url(./var.css);

.panel-3 ol {
  display: grid;
  gap: 2.5rem;
  width: 100%;
  max-width: 400px;
  margin-left: 1.5rem;
  justify-content: center;
}
.panel-3 ol li {
  list-style: decimal-leading-zero;
  font-size: 24px;
  color: var(--colorNavBarLeft);
}
.panel-3 ol .first::before {
  content: "Choose Platform";
  position: relative;
  margin-left: 10px;
  color: var(--colorFont);
  font-weight: bold;
  font-size: 20px;
  top: 4px;
}
.panel-3 ol .second::before {
  content: "Searching Games";
  margin-left: 10px;
  position: relative;
  color: var(--colorFont);
  font-weight: bold;
  font-size: 20px;
  top: 4px;
}

.first > *,
.second > * {
  margin-top: 1rem;
  left: -2rem;
  position: relative;
}

.platforms {
  background-color: var(--backgroundColorPlatformsSpan);
  border-radius: 30px;
  padding: 5px;
  color: #b85116;
  text-align: center;
}

.platform {
  display: inline;
  position: relative;
  border-radius: 30px;
  font-size: 16px;
  width: 6.5rem;
  height: 3rem;
  margin-inline: 2px;
  border: none;
  cursor: pointer;
  color: var(--colorPlatformButton);
  background-color: var(--backgroundColorPlatformsSpan);
}
.platform:hover {
  background-color: var(--backgroundColorPlatformButtonHover);
}
.platform-selected {
  background-color: var(--backgroundColorPlatformButtonHover);
  color: var(--colorFont);
}

.games-filter {
  height: 24rem;
  background-color: var(--backgroundColorPlatformsSpan);
  border-radius: 15px;
}
