:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  height: 100vh;
  min-width: 320px;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --backgroundColor: rgba(244, 248, 250, 0.959);
  --backgroundFont: black;
  --backgroundNavBarLeft: rgb(110, 109, 109);
  --backgroundArticlesContainer: #f9fbfc;
  --contrastThemeColor: #8e3df7;
  --contrastThemeColor2: #eb681d;
  --contrastThemeColor3: #611db9;
  --colorButtonPanel1: #f9fbfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Atributo para cambiar dinámicamente el tema desde Js */
[toggleTheme="dark"] {
  --backgroundColor: #171c25;
  --backgroundFont: rgba(255, 255, 255, 0.87);
  --backgroundNavBarLeft: rgb(145, 142, 142);
  --backgroundArticlesContainer: #1f252e;
  --contrastThemeColor: #e47a3d;
  --contrastThemeColor2: #8e3df7;
  --contrastThemeColor3: #b85116;
  --colorButtonPanel1: #31363a;
}

body {
  color: var(--backgroundFont);
  background-color: var(--backgroundColor);
}

/** Navbar */
.navbar {
  display: -moz-inline-grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1280px));
  margin-bottom: 5rem;
}
.navbar span {
  display: inline-block;
  width: max-content;
}
.nav-items a {
  margin-inline: 1.2rem;
  font-weight: 500;
  color: var(--backgroundFont);
  cursor: pointer;
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}
.left a:not(:first-child) {
  color: var(--backgroundNavBarLeft);
}
.left a:first-child {
  color: var(--backgroundFont);
}
.nav-items a:hover {
  color: var(--contrastThemeColor);
}

/** Logotipo Gamor */
.logo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Arial;
  font-size: 2rem;
  margin-inline: 10rem;
}

.widget-logo {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px) opacity(1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff0e;
  border-radius: 50%;
  left: 18px;
  top: 2px;
  padding: 0.8rem;
}

/** Checkbox para activar modo oscuro */
/* Contenedor del slider round */
#theme {
  appearance: none;
  position: relative;
  background: lightgrey;
  height: 1.65rem;
  width: 2.75rem;
  vertical-align: middle;
  border-radius: 2rem;
  box-shadow: 0px 1px 3px #0003 inset;
  transition: 0.25s linear background;
}
/* slider round */
#theme::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: #fff;
  border-radius: 1.2rem;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  box-shadow: 0px 1px 3px #0003;
  transition: 0.25s linear transform;
  transform: translateX(0rem);
}
#theme:checked::before {
  transform: translateX(1rem);
}
/* activar modo oscuro */
#theme:checked {
  background: var(--contrastThemeColor);
}
#theme:checked ~ .light-theme-label {
  display: none;
}
#theme:checked ~ .dark-theme-label {
  display: inline-block;
}
/* desactivar modo oscuro */
#theme:not(:checked) ~ .dark-theme-label {
  display: none;
}
#theme:not(:checked) ~ .light-theme-label {
  display: inline-block;
}

.btn-register {
  border-radius: 30px;
  border: 2px solid #615c5c;
  width: 10rem;
  aspect-ratio: 2.8;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #111216;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0px 0px 0px 0px #111216;
}
.btn-register:hover {
  border: 2px solid var(--contrastThemeColor);
}
.btn-register:active {
  background-color: var(--contrastThemeColor);
  transition: 0.15s linear background;
}

/** Sección principal */
main {
  width: 100%;
  margin: 0 auto; /* Centra horizontalmente */
  background-color: var(--backgroundArticlesContainer);
  border-radius: 15px;
}

main section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px, 420px));
}

#main-content article {
  width: 100%;
  display: grid;
  place-items: center;
  height: 715px;
}

.panel-1 .high-text {
  width: 70%;
  text-align: left;
  margin-top: 5rem;
}
.panel-1 .high-text p {
  font-size: 64px;
  margin: 0;
  height: 4.5rem;
}
/* Segundo hijo p */
.panel-1 .high-text p:nth-child(2) {
  color: var(--contrastThemeColor2);
}

/* Borde circular para todos excepto el primer hijo */
.panel-1 .high-text p:not(:first-of-type) {
  transform: skewX(0);
}
.panel-1 .high-text p:not(:first-of-type)::before {
  content: "";
  position: absolute;
  margin: -10px 5px;
  width: 95%;
  height: 15vh;
  border: 1px solid var(--contrastThemeColor2);
  top: -2rem;
  border-radius: 50%;
  border-top: none;
  transform: skewX(-10deg) skewY(-10deg) rotate(0deg);
}

.panel-1 .low-text {
  display: inline;
  margin-top: -2rem;
}
/* Viñeta debajo de "stream party" */
.panel-1 .low-text .curve {
  width: 100px;
  height: 1rem;
  left: 7rem;
  position: relative;
  border-top: solid 3px var(--contrastThemeColor);
  border-radius: 50% 40% 0% 0%;
}

.panel-1 .links {
  margin-top: -6em;
  margin-left: -2rem;
  display: inline-block;
}
.panel-1 .links * {
  margin-inline: 1rem;
}
.panel-1 .links button {
  background-color: var(--colorButtonPanel1);
  color: var(--backgroundFont);
  box-shadow: 1px 1px 10px 0px #0003;
  border: none;
}
.panel-1 .links button:hover {
  border: 1px solid var(--contrastThemeColor);
}
.panel-1 .links button:active {
  background-color: var(--contrastThemeColor);
}
.panel-1 .links a {
  text-decoration: none;
  color: var(--backgroundFont);
}
.panel-1 .links a:hover {
  color: var(--contrastThemeColor);
}

.panel-2 {
  background-color: var(--contrastThemeColor);
}
.panel-2 h3 {
  color: var(--contrastThemeColor3);
}
